{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}New Air Port{% endblock %}</h1>
{% endblock %}

{% block content %}

<hr>

<form method="post">
  <label for="title">Title</label>
  <input name="title" id="title" value="{{ request.form['title'] }}">
  <label for="address">Address</label>
  <input name="address" id="address" value="{{ request.form['address'] }}">
  <input type="submit" value="Save">
</form>
<hr>

{% endblock %}
