{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}New Flight{% endblock %}</h1>
{% endblock %}

{% block content %}

<hr>

<form method="post">
  <label for="planeid">Plane ID</label>
  <input name="planeid" id="planeid" value="{{ request.form['planeid'] }}">
  <label for="depportid">Depparture Airport ID</label>
  <input name="depportid" id="depportid" value="{{ request.form['depportid'] }}">
  <label for="arrportid">Arrival Airport Id</label>
  <input name="arrportid" id="arrportid" value="{{ request.form['arrportid'] }}">
  <label for="deptime">Departure Time</label>
  <input name="deptime" id="deptime" value="{{ request.form['deptime'] }}">
  <label for="arrtime">Arrival Time</label>
  <input name="arrtime" id="arrtime" value="{{ request.form['arrtime'] }}">
  <label for="seats">Seats</label>
  <input name="seats" id="seats" value="{{ request.form['seats'] }}">
  <input type="submit" value="Save">
</form>
<hr>

{% endblock %}
