{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}New Plane{% endblock %}</h1>
{% endblock %}

{% block content %}

<hr>

<form method="post">
  <label for="model">Model</label>
  <input name="model" id="model" value="{{ request.form['model'] }}">
  <label for="capacity">capacity</label>
  <input name="capacity" id="capacity" value="{{ request.form['capacity'] }}">
  <input type="submit" value="Save">
</form>
<hr>

{% endblock %}
