{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}New User{% endblock %}</h1>
{% endblock %}

{% block content %}

<hr>

<form method="post">
  <label for="username">Username</label>
  <input name="username" id="username" value="{{ request.form['username'] }}">
  <label for="password">password</label>
  <input name="password" id="password" value="{{ request.form['password'] }}">
  <label for="user_role">Role</label>
  <input name="user_role" id="user_role" value="{{ request.form['user_role'] }}">
  <input type="submit" value="Save">
</form>
<hr>

{% endblock %}
