{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Airports{% endblock %}</h1>
  <a class="action" href="{{ url_for('tick.addairport') }}">New</a>
{% endblock %}

{% block content %}
  {% for ai in airports %}
    <article class="airports">
      <header>
        <div>
          <div class="about">Airport ID = {{ ai['id_port'] }} <br> address {{ ai['address'] }} <br> title {{ ai['title'] }}</div>
        </div>
        {% if g.user %}
          <a class="action" href="{{ url_for('tick.deleteairport', id=ai['id_port']) }}">Delete</a>
          <a class="action" href="{{ url_for('tick.updateairport', id=ai['id_port']) }}">Update</a>
        {% endif %}
      </header>
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}
