{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Flights{% endblock %}</h1>
  {% if g.user %}
    {% if g.user['user_role'] == 1 %}
      <a class="action" href="{{ url_for('tick.addflight') }}">New Flight</a>
    {% endif %}
  {% endif %}
{% endblock %}


{% block content %}

{% block search %}
<form method="post">
Departure: <select class="departure" name="departure">
  {% for ar in airports %}
  <option value = {{ ar['id_port'] }}> {{ ar['title'] }} </option>
  {% endfor %}
</select>

<hr>

Arrival: <select class="arrival" name="arrival">
  {% for ar in airports %}
  <option value = {{ ar['id_port'] }}> {{ ar['title'] }} </option>
  {% endfor %}
</select>
<hr>
<input type="submit" value="Search">
</form>
{% endblock %}

  {% for fl in flights %}
    <article class="flight">
      <header>
        <div>
          <h1>{{ fl['title'] }}</h1>
          {% if fl['dep_time'] != None %}
          <div class="about">With {{ fl['plane_name'] }}   From {{ fl['dep_name'] }}  to {{ fl['arr_name'] }} at {{ fl['dep_time'].strftime('%Y-%m-%d %H:%M') }}</div>
          {% else %}
          <div class="about">With {{ fl['plane_name'] }}   From {{ fl['dep_name'] }}  to {{ fl['arr_name'] }}</div>
          {% endif%}
        </div>
        {% if g.user %}
          {% if g.user['user_role'] == 1 %}
            <a class="action" href="{{ url_for('tick.updateflight', id=fl['flid']) }}">Edit</a>
          {% endif %}
          {% if g.user['user_role'] == 0 %}
            <a class="action" href="{{ url_for('tick.buyflight', id=fl['flid']) }}">Buy</a>
          {% endif %}
        {% endif %}
      </header>
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}
