{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Plane{% endblock %}</h1>
  <a class="action" href="{{ url_for('tick.addplane') }}">New Plane</a>
{% endblock %}

{% block content %}
  {% for pl in planes %}
    <article class="planes">
      <header>
        <div>
          <div class="about">Plane ID = {{ pl['id_plane'] }} <br> Username {{ pl['model'] }} </div>
        </div>
        {% if g.user %}
          <a class="action" href="{{ url_for('tick.deleteplane', id=pl['id_plane']) }}">Delete</a>
          <a class="action" href="{{ url_for('tick.updateplane', id=pl['id_plane']) }}">Update</a>
        {% endif %}
      </header>
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}
