{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Ticket{% endblock %}</h1>
{% endblock %}

{% block content %}
  {% for tk in tickets %}
    <article class="ticket">
      <header>
        <div>
          <h1>{{ tk['title'] }}</h1>
          <div class="about">Ticket ID = {{ tk['tkid'] }} Person {{ tk['byrname'] }} With {{ tk['plane_name'] }}   From {{ tk['dep_name'] }}  to {{ tk['arr_name'] }} on {{ tk['dep_time'].strftime('%Y-%m-%d %H:%M') }}</div>
        </div>
        {% if g.user %}
          <a class="action" href="{{ url_for('tick.deleteticket', id=tk['tkid']) }}">Delete</a>
        {% endif %}
      </header>
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}
