{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Edit "FlightID {{ post['flid'] }} With {{ post['plane_name'] }}   From {{ post['dep_name'] }}  to {{ post['arr_name'] }} on {{ post['dep_time'].strftime('%Y-%m-%d %H:%M') }}"{% endblock %}</h1>
{% endblock %}

{% block content %}

<hr>

<form method="post">
  <label for="planeid">Plane ID</label>
  <input name="planeid" id="planeid" value="{{ request.form['planeid'] or post['planeid'] }}" required>
  <label for="depportid">Depparture Airport ID</label>
  <input name="depportid" id="depportid" value="{{ request.form['depportid'] or post['depportid'] }}" required>
  <label for="arrportid">Arrival Airport ID</label>
  <input name="arrportid" id="arrportid" value="{{ request.form['arrportid'] or post['arrportid'] }}" required>
  <input type="submit" value="Save">
</form>
<hr>

<form action="{{ url_for('tick.deleteflight', id=post['flid']) }}" method="post">
  <input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
</form>
{% endblock %}
