{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Update Airplane ID {{ post['id_port'] }} Title {{ post['title'] }} {% endblock %}</h1>
{% endblock %}

{% block content %}

<hr>

<form method="post">
  <label for="id_port">Airport ID</label>
  <input name="id_port" id="id_port" value="{{ request.form['id_port'] or post['id_port'] }}" required>
  <label for="title">Title</label>
  <input name="title" id="title" value="{{ request.form['title'] or post['title'] }}">
  <label for="address">Address</label>
  <input name="address" id="address" value="{{ request.form['address'] or post['address']}}">
  <input type="submit" value="Save">
</form>
<hr>

<form action="{{ url_for('tick.deleteairport', id=post['id_port']) }}" method="post">
  <input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
</form>
{% endblock %}
