{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Update Plane ID {{ post['id_plane'] }} Model {{ post['model'] }} {% endblock %}</h1>
{% endblock %}

{% block content %}

<hr>

<form method="post">
  <label for="id_plane">Plane ID</label>
  <input name="id_plane" id="id_plane" value="{{ request.form['id_plane'] or post['id_plane'] }}" required>
  <label for="model">Model</label>
  <input name="model" id="model" value="{{ request.form['model'] or post['model'] }}">
  <label for="capacity">capacity</label>
  <input name="capacity" id="capacity" value="{{ request.form['capacity'] or post['capacity']}}">
  <input type="submit" value="Save">
</form>
<hr>

<form action="{{ url_for('tick.deleteplane', id=post['id_plane']) }}" method="post">
  <input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
</form>
{% endblock %}
