{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Users{% endblock %}</h1>
  <a class="action" href="{{ url_for('tick.adduser') }}">New</a>
{% endblock %}

{% block content %}
  {% for us in users %}
    <article class="users">
      <header>
        <div>
          <div class="about">User ID = {{ us['id_user'] }} <br> Username {{ us['username'] }} <br> password {{ us['password'] }}   role <br> {{ us['user_role']}}</div>
        </div>
        {% if g.user %}
          <a class="action" href="{{ url_for('tick.deleteuser', id=us['id_user']) }}">Delete</a>
        {% endif %}
      </header>
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}
