<!doctype html>
<title>{% block title %}{% endblock %} - Ticket Service</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav>
  <h1><a href="{{ url_for('index') }}">Ticket Service</a></h1>
  <ul>
    {% if g.user %}
      <li><span>{{ g.user['username'] }}</span>
      <li><a href="{{ url_for('auth.logout') }}">Log Out</a>
      <li><a href="{{ url_for('tick.tickets') }}">Tickets</a>
      <li><a href="{{ url_for('tick.users') }}">Users</a>
      <li><a href="{{ url_for('tick.planes') }}">Planes</a>
      <li><a href="{{ url_for('tick.airports') }}">Airports</a>
        {% if g.user['user_role'] == 1 %}

        {% endif %}
    {% else %}
      <li><a href="{{ url_for('auth.register') }}">Register</a>
      <li><a href="{{ url_for('auth.login') }}">Log In</a>
    {% endif %}
  </ul>
</nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>
